@use 'assets/styles' as *;

.page {
  --flow-space: 4rem;

  main {
    padding: 0;
  }
}

@include respond-to(sm-desktop) {
  .page {
    --flow-space: 6rem;
    position: relative;

    &.leaf-top {
      &::before {
        content: url('/assets/images/shared/desktop/bg-pattern-leaf.svg');
        position: absolute;
        top: 10%;
        z-index: -1;
      }

      &-flipped::before {
        transform:scale(-1);
      }
    }

    &.leaf-mid {
      &::after {
        content: url('/assets/images/shared/desktop/bg-pattern-leaf.svg');
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        z-index: -1;
      }

      &-flipped::after {
        transform:scale(-1);
      }
    }

    &.leaf-bottom {
      &::after {
        content: url('/assets/images/shared/desktop/bg-pattern-leaf.svg');
        position: absolute;
        bottom: 15%;
        right: 0;
        z-index: -1;
      }

      &-flipped::after {
        transform:scale(-1);
      }
    }
      
  }
}

@include respond-to(sm-desktop) {
  .page {
    --flow-space: 8rem;
  }
}