@use 'assets/styles/index' as *;

.design-system {
  padding: 0;

  > :global(.container) {
    margin-bottom: 5rem;
  }

  header {
    margin-bottom: 3rem;
    height: 200px;
    border-bottom-right-radius: 150px;

    > * {
      // padding-block: 5rem;
      grid-template-columns: 1fr 1fr;
      align-content: center;
      height: 100%;
    }

    img {
      max-width: 200px;
    }

    h1 {
      letter-spacing: 5px;
      justify-self: end;
    }
  }

  :global(.container) {
    --flow-space: 5rem;
  }

  section > * {
    --flow-space: 2rem;
  }
}

.color-groups {
  display: flex;
  justify-content: space-between;
  padding: 0;
  list-style: none;

  .color-item {
    display: flex;
    gap: 2rem;
  }

  .color-area {
    min-width: 75px;
    border: 1px solid #DCDCDC;
    border-radius: 10px;
    border-bottom-right-radius: 50px;
  }

  .color-desc {
    color: color(dark-gray, 0.75);
  }
}

.typography {

  > :global(.grid) {
    grid-template-columns: 1fr 1fr;
    --gap: 4rem;
  }
}

.buttons > :global(.flex) {
  --gap: 2rem;

  > * {
    flex-grow: 1;
    padding: 3rem 2rem;
    justify-content: center;
    border-radius: 10px;
    --gap: 0.5rem;
    --flow-space: 1rem;
  }
}

footer {
  min-height: 30vh;
  background: color(dark);
}