@use 'assets/styles/index' as *;

@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Montserrat:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,400;0,700;1,400;1,700&family=Raleway:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import 'assets/styles/icons';

/* ------------------- */
/* Custom properties   */
/* ------------------- */
:root {
  /* primary colors */
  --clr-primary: #{$primary};
  --clr-dark: #{$dark};
  --clr-light: #{$light};
  
  /* secondary colors */
  --clr-secondary: #{$secondary};
  --clr-dark-gray: #{$dark-gray};
  --clr-light-gray: #{$light-gray};
}

/* ------------------- */
/* Reset               */
/* ------------------- */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: calc-rem(26px);
  font-size: calc-rem(15px);
  font-family: 'Jost', sans-serif;
  color: color(dark);
}


/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p {
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
}

// Add heading-1 class for elements that are not h1 (to avoid h1 duplicates)
h1 {
  font-size: calc-rem(32px);
  line-height: calc-rem(32px);
}

h2 {
  font-size: calc-rem(28px);
  line-height: calc-rem(32px);
  letter-spacing: 2px;
}

h3 {
  font-size: calc-rem(20px);
  line-height: calc-rem(26px);
  letter-spacing: 5px;
}

.title {
  text-transform: uppercase;
  letter-spacing: 5px;
  color: color(primary);
  font-weight: bold;
}

.section-heading {
  font-size: calc-rem(32px);
  line-height: calc-rem(32px);
  font-weight: 500;
}

@include respond-to(tablet) {
  body {
    font-size: calc-rem(16px);
  }

  h1 {
    font-size: calc-rem(48px);
    line-height: calc-rem(48px);
  }
  
  h2 {
    font-size: calc-rem(40px);
    line-height: calc-rem(48px);
  }
  
  .section-heading {
    font-size: calc-rem(48px);
    line-height: calc-rem(48px);
    font-weight: 500;
  }
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}


/* ------------------- */
/* Utility classes     */
/* ------------------- */

.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

.grid {
  display: grid;
  gap: var(--gap, 1rem);
}

.flow > *:where(:not(:first-child)) {
  margin-top: var(--flow-space, 1rem);
}

.flow--space-small {
  --flow-space: 0.5rem;
}

.container {
  position: relative;
  max-width: 1024px;
  margin-inline: auto;
  padding-inline: 20px;
  width: 100%;

  @include respond-to(lg-desktop) {
    max-width: 1360px;
  }
}

@include respond-to-max(mobile) {
  .mobile-no-pad {
    padding-inline: 0;
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap; /* added line */
  border: 0;
}

.skip-to-content {
  position: absolute;
  transform: translateY(-100%);
  z-index: 9999;
  background: hsl( var(--clr-white) );
  color: hsl( var(--clr-dark) );
  padding: .5em 1em;
  margin-inline: auto;
  transition: transform 500ms ease-in;
}

.skip-to-content:focus {
  transform: translateY(0);
}

.center { text-align: center; }
.uppercase { text-transform: uppercase; }
.bold { font-weight: bold; }
.semi-bold { font-weight: 500; }

.font-primary { color: color(primary); }
.font-dark { color: color(dark); }
.font-light { color: color(light); }
.font-secondary { color: color(secondary); }
.font-dark-gray { color: color(dark-gray); }
.font-light-gray { color: color(light-gray); }

.fs-16 { font-size: calc(16px); }
.fs-24 { font-size: calc(24px); }
.fs-20 { font-size: calc(20px); }

.small-label {
  color: color(dark-gray, 0.75);
  text-transform: uppercase;
  font-size: calc-rem(13px);
  line-height: calc-rem(23px);
  font-weight: bold;
}

/* Background Colors */
.bg-primary { background: color(primary); }
.bg-dark { background: color(dark); }
.bg-light { background: color(light); }
.bg-secondary { background: color(secondary); }
.bg-dark-gray { background: color(dark-gray); }
.bg-light-gray { background: color(light-gray); }

/* Background Patterns */
.bg-pattern {
  background-color: color(primary);
  background-repeat: no-repeat;
}

.bg-pattern-base {
  background-image: url("/assets/images/shared/desktop/bg-pattern-small-circle.svg");
  background-repeat: no-repeat;
  background-position: calc(100% + 100px) -100px;
  background-size: 350px 350px;
}

.bg-pattern-cta {
  background-image: url("/assets/images/shared/desktop/bg-pattern-call-to-action.svg");
  background-position: center right;
  background-size: 100% auto;

  @include respond-to-max(mobile) {
    background-position: center center;
    background-size: 1200px auto;
  }

  @include respond-to(mobile) {
    background-position: center center;
    background-size: 1200px auto;
  }
}

.bg-pattern-intro-web {
  background-image: url("/assets/images/web-design/desktop/bg-pattern-intro-web.svg");
  background-position: center right;
  background-size: 100% auto;

  @include respond-to-max(mobile) {
    background-position: center center;
    background-size: 1000px auto;
  }

  @include respond-to(mobile) {
    background-position: center right;
    background-size: 1000px auto;
  }
}

.bg-pattern-intro-app {
  background-image: url("/assets/images/app-design/desktop/bg-pattern-intro-app.svg");
  background-position: center left;
  background-size: 100% auto;

  @include respond-to-max(mobile) {
    background-position: center center;
    background-size: 1000px auto;
  }

  @include respond-to(mobile) {
    background-position: center left;
    background-size: 1000px auto;
  }
}

.bg-pattern-intro-graphic {
  background-image: url("/assets/images/graphic-design/desktop/bg-pattern-intro-graphic.svg");
  background-position: center left;
  background-size: 100% auto;

  @include respond-to-max(mobile) {
    background-position: center center;
    background-size: 1000px auto;
  }

  @include respond-to(mobile) {
    background-position: center left;
    background-size: 1000px auto;
  }
}

.bg-pattern-big-circle {
  background-image: url("/assets/images/home/desktop/bg-pattern-hero-home.svg");
  background-position: center left;
  background-size: auto;

  @include respond-to(mobile) {
    background-position: 150% center;
  }

  @include respond-to(sm-desktop) {
    background-position: top right;
  }
}

.logo {
  margin: 2rem 1rem;
  max-width: 200px;
}

.cta-box-bottom {
  margin-bottom: clamp(-45%, 5vw, -30%);

  @include respond-to(mobile) {
    margin-bottom: -100px;
  }
}