@use 'assets/styles' as *;

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 4rem 2rem;
  border-radius: 0;

  .content {
    color: color(light);
    --flow-space: 1rem;
  }

  .form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .form-control {
      position: relative;

      .error-text {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        font-size: calc-rem(14px);
        color: color(light);
        font-style: italic;

        img {
          display: inline-block;
          margin-left: 5px;
          vertical-align: sub;
        }
      }
    }

    input[type=text], input[type=email], textarea {
      border: none;
      border-bottom: 1px solid color(light);
      background: transparent;
      width: 100%;
      padding: 10px;
      color: color(light);

      &::placeholder {
        color: color(light, 0.5);
      }

      &:focus {
        outline: none;
        border-bottom: 3px solid color(light);
      }
    }
    
    textarea {
      resize: none;
    }
  }

  .form-actions {
    text-align: right;
  }
}

@include respond-to-max(mobile) {
  .contact-form {
    background-image: url("/assets/images/contact/mobile/bg-pattern-hero-contact-mobile.svg");
    background-position: 20% 0;
  }
}

@include respond-to(tablet) {
  .contact-form {
    padding: 5rem 4rem;
    border-radius: 10px;
    background-position: -50% -60% !important;
    background-image: url("/assets/images/contact/desktop/bg-pattern-hero-desktop.svg") !important;

    .content {
      text-align: left;
    }
  }
}

@include respond-to(sm-desktop) {
  .contact-form {
    flex-direction: row;
    background-position: bottom left !important;
    padding: 4rem 6rem;
    gap: 6rem;

    .content {
      flex-grow: 1;
      align-self: center;
    }

    .form {
      flex-grow: 1;
    }
  }
}